<ion-view title="Agent Information" id="page5" style="">
  <ion-content padding="true" style="background: url(img/BWNaHAvPQ9GrbGEFFYMT_appImages252Fwelcome_background-crop-u318.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="agentInformation-form3" class="list">
      <label class="item item-input" id="agentInformation-input8">
        <span class="input-label">Company Name</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="agentInformation-input9">
        <span class="input-label">Agent Name</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="agentInformation-input10">
        <span class="input-label">Phone Number</span>
        <input placeholder="" type="tel">
      </label>
      <label class="item item-input" id="agentInformation-input11">
        <span class="input-label">Email</span>
        <input placeholder="" type="email">
      </label>
    </form>
  </ion-content>
</ion-view>