<ion-view title="Client Setup" id="page7" style="">
  <ion-content padding="true" class="has-header">
    <form id="clientSetup-form2" class="list">
      <ion-list id="clientSetup-list3">
        <label class="item item-input" id="clientSetup-input3">
          <span class="input-label">Last Name</span>
          <input placeholder="" type="text">
        </label>
        <label class="item item-input" id="clientSetup-input4">
          <span class="input-label">Email</span>
          <input placeholder="" type="email">
        </label>
        <label class="item item-input" id="clientSetup-input5">
          <span class="input-label">4 Digit PIN #</span>
          <input placeholder="" type="password">
        </label>
        <label class="item item-input" id="clientSetup-input6">
          <span class="input-label">Confirm PIN #</span>
          <input placeholder="" type="password">
        </label>
      </ion-list>
      <button id="clientSetup-button3" class="button button-stable button-block">Save </button>
    </form>
  </ion-content>
</ion-view>