<ion-view title="Listing Confirmation" id="page10" style="">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <h1 id="listingConfirmation-heading1" style="color: rgb(0, 0, 0);">House Address</h1>
    <div id="listingConfirmation-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
        Details about the home</p>
    </div>
    <div id="listingConfirmation-container1">
      <h3 id="listingConfirmation-heading2" style="color: rgb(0, 0, 0); font-weight: 300;">Is this the listing you want to upload?</h3>
      <div id="listingConfirmation-button-bar1" class="button-bar">
        <button id="listingConfirmation-button9" class="button button-balanced button-block">Yes</button>
        <a ui-sref="mLSInformation()" id="listingConfirmation-button10" class="button button-assertive button-block">No</a>
      </div>
    </div>
  </ion-content>
</ion-view>