<ion-view title="Login" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page6" style="">
  <ion-content padding="true" style="background: url(img/JYIvrSIYRJagmKYB3kK4_welcome_background-crop-u318.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <div id="login-markdown3" ng-if="" class="show-list-numbers-and-dots error-box">
      <p style="color:#000000;">{{error}}</p>
    </div>
    <form id="login-form1" class="list center-form">
      <div>
        <img src="img/CIGmQgk9Q2yg8laFpZlQ_erealtyhome_icon-crop-u141.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Enter 4 Digit PIN #</span>
          <input placeholder="" type="password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="agentInformation()" id="login-button1" class="button button-dark button-block">Log in</a>
      <a href-inappbrowser="/signup" id="login-button2" class="button button-light button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>