<ion-view title="MLS Information" id="page9" style="">
  <ion-content padding="true" class="has-header">
    <form id="mLSInformation-form5" class="list">
      <ion-list id="mLSInformation-list4">
        <label class="item item-input" id="mLSInformation-input14">
          <span class="input-label">MLS Number</span>
          <input placeholder="" type="number">
        </label>
      </ion-list>
      <button id="mLSInformation-button5" class="button button-stable button-block">Look Up Listing</button>
    </form>
  </ion-content>
</ion-view>