<ion-view title="Reset Client" id="page11" style="">
  <ion-content padding="true" class="has-header">
    <form id="resetClient-form6" class="list">
      <h3 id="resetClient-heading3" style="color: rgb(0, 0, 0); font-weight: 300;">Resetting the Client will remove ALL Client Data</h3>
      <ion-list id="resetClient-list5">
        <label class="item item-input" id="resetClient-input18">
          <span class="input-label">Enter Agent PIN # </span>
          <input placeholder="" type="password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="resetClient-button12" class="button button-assertive button-block">Reset Client</button>
      <a ui-sref="tabsController.eRealtyHomeTablet()" id="resetClient-button13" class="button button-positive button-block button-clear">Cancel</a>
    </form>
  </ion-content>
</ion-view>